ClassCreator.xcodeproj/project.xcworkspace/xcuserdata/scott.mehus.xcuserdatad/UserInterfaceState.xcuserstate

ClassCreator.xcodeproj/xcuserdata/scott.mehus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist